/** Generic colors */
$black-gray: #333;
$dark-gray: #666;
$medium-gray: #A3A3A3;
$gray: #ACACAC;
$light-gray: #EEE;

/** Color palette */
$pickled-bluewood: #34495E;
$chambray: #3A539B;
$ebony-clay: #22313F;
$madison: #2C3E50;
$rebecca-purple: #663399;
$porcelain: #ECF0F1;

/** Generic rem sizes */
$x-sm-rm: .25rem;
$sm-rem: .5rem;
$md-rem: 1rem;
$x-md-rem: 1.5rem;
$lg-rem: 2rem;

/** Breakpoints */
$breakpoint-xs: 480px;
$breakpoint-sm: 800px;
$breakpoint-md: 1024px;
