@import 'variables';
@import 'mixins';

/** ===================================   Global styles   =================================== */
html {
    color: $black-gray;
}
body {
    background-color: $tuna;
    font-family: 'Roboto', Calibri, Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(9, 11, 15);
    font-size: 14px;
    @media screen and (min-width: $breakpoint-xs) {
        font-size: 16px;
    }
    @media screen and (min-width: $breakpoint-sm) {
        font-size: 18px;
    }
}
h1 {
    font-size: $lg-rem;
    font-weight: 600;
    margin-top: 0;
}
h2 {
    font-size: 1.75rem;
    font-weight: 300;
}
h3 {
    font-size: $x-md-rem;
    font-weight: 600;
}
h4 {
    font-size: $x-md-rem;
    font-weight: 600;
}
h5 {
    font-size: 1.25rem;
}
p {
    margin: 30px 0;
}
ul {
    list-style:  none;
}
.font-lt {
    font-weight: 300;
}
.font-sb {
    font-weight: 600;
}
.font-b {
    font-weight: 800;
}
.margin-bot-sm {
    margin-bottom: $sm-rem;
}
.margin-bot-md {
    margin-bottom: $md-rem;
}
.margin-bot-x-md {
    margin-bottom: $x-md-rem;
}
.margin-bot-lg {
    margin-bottom: $lg-rem;
}
.btn {
    padding: 12px 30px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    &.btn-primary {
        background-color: $dusty-gray;
        border: 1px solid $dusty-gray;
    }
    &.btn-secondary {
        background-color: $mobster;
        border: 1px solid $mobster;
    }
}

/** ===================================   Page specific styles   =================================== */

/** Begin index.html styles */
.portfolio {
    float: right;
    position: relative;
    top: .5rem;
    margin-right: 1rem;
}
.container {
    max-width: 100%;
    margin: 0 auto;
    z-index: 1;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}
.masthead {
    text-align:  center;
    z-index: -1;
    border-radius: $x-sm-rm;
    img {
        width: 100%;
    }
}
.img-circle {
    border-radius: 50%;
    border: 1px solid red;
}
.card {
    position: relative;
    padding: 1.5rem;
    background-color: $mercury;
    border-radius: $x-sm-rm;
    margin-bottom: $lg-rem;
}
.card.overlap {
    margin-top: -2rem;
}
.content {
    line-height: 1.75rem;
}
.profile {
    .user, & > h1 {
        display: inline-block;
        margin: 0;
        vertical-align: middle;
    }
}
.binary-columns {
    text-align: center;
    @media screen and (min-width: $breakpoint-xs) {
        .column-primary, .column-secondary {
            display: inline-block;
            width: 49%;
        }
    }
}
@media screen and (min-width: $breakpoint-xs) {
    .container {
        max-width: 750px;
    }
}
@media screen and (min-width: $breakpoint-sm) {
    .introduction {
        line-height: 1.75rem;
    }
}
@media screen and (min-width: $breakpoint-md) {
    p {
        line-height: 1.75rem;
    }
    .container {
        max-width: 980px;
    }
}
@media screen and (min-width: $breakpoint-lg) {
    .container {
        max-width: 1170px;
    }
}
/** End index.html styles */

/** Begin project.html styles */
.projects-container {
    max-width: 100%;
    background-color: white;
    padding: 2rem;
    margin: 2.5rem auto 0;
}
@media screen and (min-width: $breakpoint-xs) {
    .projects-container {
        max-width: 50%;
    }
}
@media screen and (min-width: $breakpoint-sm) {

}
@media screen and (min-width: $breakpoint-md) {
    .projects-container {
        max-width: 45%;
    }
}
