/** Generic colors */
/** Color palette */
/** Generic rem sizes */
/** Breakpoints */
/** ===================================   Global styles   =================================== */
html {
  color: #333;
  font-size: 14px;
}

body {
  background-color: #bdc3c7;
  font-family: 'Roboto', Calibri, Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #666;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 0;
}

h2 {
  font-size: 1.75rem;
  font-weight: 300;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

h4 {
  font-size: 1.5rem;
  font-weight: 600;
}

h5 {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
  margin: 30px 0;
}

ul {
  list-style: none;
}

.font-lt {
  font-weight: 300;
}

.font-sb {
  font-weight: 600;
}

.font-b {
  font-weight: 800;
}

.margin-bot-sm {
  margin-bottom: 0.5rem;
}

.margin-bot-md {
  margin-bottom: 1rem;
}

.margin-bot-x-md {
  margin-bottom: 1.5rem;
}

.margin-bot-lg {
  margin-bottom: 2rem;
}

.navbar-container {
  position: fixed;
  width: 100%;
  top: 0;
  padding: .5rem;
  background-color: #34495E;
  border-bottom: 1px solid #22313F;
  z-index: 10;
  height: 22px;
}

.nav-control {
  position: fixed;
  border: none;
  text-decoration: none;
  z-index: 1000;
  transform: rotate(0);
  transition: transform .5s;
}
.nav-control .fa {
  color: #ECF0F1;
  font-size: 1.5rem;
}
.nav-control.open {
  transform: rotate(180deg);
  transition: transform .5s;
}

.nav-menu {
  width: 0;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #34495E;
  border-right: 1px solid #ECF0F1;
  overflow-x: hidden;
  margin-right: 1rem;
  transition: width .5s ease-out;
}
.nav-menu.open {
  width: 100%;
  transition: width .5s ease-in;
}

@media screen and (min-width: 480px) {
  html {
    font-size: 16px;
  }

  .nav-menu {
    max-width: 30%;
  }
}
@media screen and (min-width: 800px) {
  .nav-menu {
    max-width: 250px;
  }
}
/** ===================================   Page specific styles   =================================== */
/** Beging index.html styles */
.portfolio {
  float: right;
  position: relative;
  top: .5rem;
  margin-right: 1rem;
}

.container {
  max-width: 100%;
  background-color: #fff;
  margin: -1rem auto 0;
  padding: 2rem;
  z-index: 1;
  position: relative;
}

.img-container {
  text-align: center;
  z-index: -1;
}
.img-container img {
  max-width: 100%;
}

.resume-body {
  position: relative;
}

.content {
  line-height: 2rem;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 50%;
    top: -2.5rem;
  }

  .img-container img {
    max-width: 75%;
  }
}
@media screen and (min-width: 800px) {
  .introduction {
    line-height: 1.75rem;
  }
}
@media screen and (min-width: 1024px) {
  p {
    line-height: 1.75rem;
  }

  .container {
    max-width: 45%;
  }

  .img-container img {
    max-width: 60%;
  }
}
/** End index.html styles */
/** Begin project.html styles */
.projects-container {
  max-width: 100%;
  background-color: white;
  padding: 2rem;
  margin: 2.5rem auto 0;
}

@media screen and (min-width: 480px) {
  .projects-container {
    max-width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .projects-container {
    max-width: 45%;
  }
}
