@import 'variables';
@import 'mixins';

/** ===================================   Global styles   ============================== */
html {
    color: $black-gray;
    font-size: 14px;
}
body {
    background-color: #bdc3c7;
    font-family: 'Roboto', Calibri, Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: $dark-gray;
}
h1 {
    font-size: $lg-rem;
    font-weight: 600;
    margin-top: 0;
}
h2 {
    font-size: 1.75rem;
    font-weight: 300;
}
h3 {
    font-size: $md-lg-rem;
    font-weight: 600;
}
h4 {
    font-size: $md-lg-rem;
    font-weight: 600;
}
h5 {
    font-size: 1.25rem;
}
p {
    font-size: 1rem;
    margin: 30px 0;
}
ul {
    list-style:  none;
}
.font-lt {
    font-weight: 300;
}
.font-sb {
    font-weight: 600;
}
.font-b {
    font-weight: 800;
}
.margin-bot-sm {
    margin-bottom: $sm-rem;
}
.margin-bot-md {
    margin-bottom: $md-rem;
}
.margin-bot-x-md {
    margin-bottom: $x-md-rem;
}
.margin-bot-lg {
    margin-bottom: $lg-rem;
}


/** ===================================   Page specific styles   ============================== */

/** Beging index.html styles */
.navbar-toggle {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 1rem;
    background-color: $pickled-bluewood;
    border-bottom: 1px solid $ebony-clay;
    z-index: 10;
    a {
        border: none;
        text-decoration: none;
    }
}
.navbar {
    width: 16%;
    height: 100%;
    background-color: #34495e;
    border-right: 1px solid #95a5a6;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    margin-right: 1rem;
    z-index: 100;
}
.closed {
    display: none;
}
.portfolio {
    float: right;
    position: relative;
    top: 9px;
    margin-right: 10px;
}
.container {
    width: 35%;
    background-color: #fff;
    margin: -10px auto 0;
    padding: 60px;
    z-index: 1;
    top: -50px;
    position: relative;
}

.img-container {
    text-align:  center;
    z-index: -1;
    img {
        width: 50%;
    }
}
.resume-body {
    position: relative;
}
.content {
    line-height: 2.5rem;
}
@media only screen and (min-width: 480px) {
    html {
        font-size: 16px;
    }
    .introduction {
        line-height: 2rem;
    }
}
@media only screen and (min-width: 800px) {
    .introduction {
        line-height: 1.75rem;
    }
}
@media screen and (min-width: 1024px) {
    p {
        line-height: 1.75rem;
    }
}
/** End index.html styles */
