body {
    background-color: #FCFCFD;
    font-family: 'Roboto', Calibri, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
}

h2 {
    font-size: 2rem;
    font-weight: 300;
}

h3 {
    font-size: 1.75rem;
}

p {
    font-size: 1rem;
    margin: 30px 0;
}

ul {
    list-style:  none;
}

.navbar-toggle {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 2rem;
    background-color: #fff;
    border-bottom: 1px solid #333;
    z-index: 10;
}

.navbar {
    width: 16%;
    height: 100%;
    background-color: #566270;
    border-right: 1px solid #333;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    margin-right: 1rem;
    z-index: 100;
}

.closed {
    display: none;
}

.portfolio {
    float: right;
    position: relative;
    top: 9px;
    margin-right: 10px;
}

.resume-body {
    margin: 30px 60px 0;
    position: relative;
    top: 80px;
}

.introduction {
    line-height: 3.875rem;
}

@media only screen and (min-device-width: 480px) {
    .introduction {
        line-height: 2rem;
    }
}

@media only screen and (min-device-width: 800px) {
    .introduction {
        line-height: 1.75rem;
    }
}

@media (min-width: 1024px) {
    p {
        line-height: 1.75rem;
    }
}