body {
    background-color: #FCFCFD;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: gray;
    margin-bottom: 20px;
}

.navbar-right {
    width: 20%;
    height: 100%;
    background-color: #0A0908;
    border-right: 1px solid #333;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-right: 10px;
}

.portfolio {
    float: right;
    position: relative;
    top: 9px;
    padding-right: 10px;
}

.resume-body {
    margin: 0 22%;
}